main {
    margin-top: 65px;
    margin-left: 65px;
    padding: 30px;
    background: #f8f8f8;
    min-height: calc(100vh - 100px);

    .Widgets-content {
        .Widgets-card {
            background: #FFFFFF;
            padding: 10px;
            margin-bottom: 10px;
            position: relative;

            .flex-shrink-0 {
                background: #029358;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &.inner-field {
                    width: 25px;
                    height: 25px;
                }
            }

            .arrow-div {
                background: #E8E8E8;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 10px;
                bottom: 9px;
            }

            .description {
                font-size: 13px;
                font-weight: 500;
                line-height: 16px;
                color: #A0A0A0;
                margin-top: 20px;
            }

            .flex-grow-1 {
                p {
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #A0A0A0;

                }

                &.inner-text {
                    p {
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 16px;
                        color: #3D3D3D;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 16px;
                    color: #000;

                    span {
                        font-size: 10px;
                        font-weight: 600;
                        line-height: 16px;
                        color: #303030;
                        margin-left: 5px;
                    }
                }
            }

            .footer-card {
                padding: 10px 0px;
                border-top: 0.5px solid #A0A0A0;

                p {
                    margin-bottom: 0px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #029358;
                }
            }
        }
    }

    .chart-component {
        background: #FFFFFF;
        box-shadow: 0px 3px 8.9px 4px #00000008;
        padding: 10px;
        height: 100%;

        .form-select {
            width: auto;
            background: #F6F6F6;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.98px;
            letter-spacing: 0.01em;
            color: #000000;
            border: 0px;
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='non-zero' d='M13.069 5.157L8.384 9.768a.546.546 0 0 1-.768 0L2.93 5.158a.55.55 0 0 0-.771 0a.53.53 0 0 0 0 .759l4.684 4.61a1.65 1.65 0 0 0 2.312 0l4.684-4.61a.53.53 0 0 0 0-.76a.55.55 0 0 0-.771 0'/%3E%3C/svg%3E");

        }

        &.executor-chart {
            h1 {
                padding-left: 20px;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                line-height: 24.2px;
            }

            .heading {
                font-size: 14px;
                font-weight: 700;
                line-height: 16.94px;
                text-align: center;
                color: #2E2E30;
            }

            .description {
                font-size: 12px;
                font-weight: 400;
                line-height: 14.52px;
                color: #767676;
            }
        }

        h5 {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            text-align: left;
            color: #A7A7A7;
            margin-bottom: 0px;
            padding-left: 20px;
        }

        p {
            padding-left: 20px;
            font-size: 18px;
            font-weight: 500;
            line-height: 27px;
            margin-bottom: 0px;
            color: #000000;
        }

        .chart-button {
            background: var(--Primary-Green, #38C64E);
            font-size: 12px;
            font-weight: 500;
            line-height: 12px;
            color: #FFFFFF;
            border: 0px;
            padding: 10px;
            border-radius: 5px;
        }
    }
}

.table-content {
    margin-top: 20px;

    h1 {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
        line-height: 16px;
    }
}



.responsive-table {
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
    border-top: 1px solid #747474;
    border-left: 1px solid #747474;
    border-right: 1px solid #747474;
    margin-bottom: 20px;

    @media (max-width: 868px) {
        overflow: hidden;
        overflow-x: scroll;
    }

    .loader::after,
    .loader::before {
        content: "";
        border: 3px solid #fff;
    }

    .table> :not(caption)>*>* {
        padding: 22px 22px;
    }

    .table {
        // min-height: 300px;
        margin-bottom: 0px;
        --bs-body-bg: transprent !important;
        vertical-align: middle;
        border-color: #747474;


        span {
            display: block;
            color: #747474;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;

        }

        @media (max-width: 868px) {
            width: 990px;
        }

        thead {
            tr {
                th {
                    color: #000000;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: left;
                    position: sticky;
                    top: 0;
                    z-index: 6;
                    background: #FFFFFF;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    text-align: left;
                    color: #000000;

                    .view-button {
                        color: #029358;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        border: 0px;
                        background: transparent;
                    }

                    .shiping-cost {
                        border: 1px solid #747474;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-radius: 4px;
                        padding: 10px;

                    }

                    .form-select {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 20.4px;
                        letter-spacing: 0.25px;
                        color: #555555;
                        background-repeat: no-repeat !important;
                        background-position: right .75rem center !important;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/%3E%3C/svg%3E") !important;

                        &.track-shipment {
                            background: #EFFFF1;
                        }
                    }

                    .form-Available {
                        border: 0px;
                        padding: 0px;
                        width: 47px;
                        background-color: transparent;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    a {
                        color: #38C64E;
                        text-decoration: none;
                    }

                    .button {
                        padding: 3px;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20.4px;
                        color: #FFFFFF;
                        border: 0px;
                        height: 28px;
                        border-radius: 5px;
                        min-width: 104px;
                        padding: 5px 10px;

                        &.Closed {
                            background: var(--Primary-Black, #3C3C3C);
                        }

                        &.Pending {
                            background: #F1BB11;
                        }

                        &.Delivered {
                            background: var(--Primary-Green, #38C64E);
                        }

                    }

                }
            }
        }
    }
}

.all-heading-claims {
    color: #747474;
    font-size: 24px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.table-manage {
    .table> :not(caption)>*>* {
        padding: 8px 22px;
    }

    .table>thead {
        vertical-align: top;
    }

    .responsive-table {
        overflow: hidden;
        overflow-x: scroll;
        height: auto;
        max-height: 400px;
    }

    .table {
        vertical-align: top;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        color: #747474;
    }
}

// .pagination {
//     margin-top: 20px;
//     display: flex;
//     align-items: center;
//     gap: 10px;

//     p {
//         font-size: 12px;
//         font-weight: 500;
//         line-height: 20px;
//         color: #747474;
//         margin-bottom: 0px;
//     }

//     .form-select {
//         width: 54px;
//         height: 35px;
//         padding: 5px;
//         border: 0px;
//         border-radius: 0px;
//         color: #747474;
//         font-size: 12px;
//         font-weight: 500;
//         line-height: 20px;
//         letter-spacing: 0.10000000149011612px;
//     }

//     .arrow {
//         width: 36px;
//         height: 36px;
//         background: #FFFFFF;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
// }


.button-list {
    background: #38C64E;
    padding: 3px 24px 3px 24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20.4px;
    text-align: left;
    color: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 20px;

    &.Cancel-btn {
        background: #3C3C3C;
    }
}

.manage-Inventory {
    h1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 36px;
        color: #000000;
    }

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;
        color: #747474;
    }

    h4 {
        font-size: 20px;
        font-weight: 500;
        line-height: 36px;
        color: #000000;
    }

    .slect-lebal {
        label {
            color: #000000;
            font-size: 14px;
            font-weight: 500;
            line-height: 14px;
            margin-bottom: 5px;
        }

        .form-select {
            background: #fff;
            background-repeat: no-repeat;
            background-position: right .75rem center;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
        }

        input {
            border: 1px solid #E3E3E3;
            font-size: 12px;
            font-weight: 400;
            line-height: 20.4px;
            letter-spacing: 0.25px;
            text-align: left;
            color: #747474;
            border-radius: 4px;
            padding: .375rem;
            width: 159px;

            &:hover {
                border: 1px solid blue;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .refresh-button {
        background: #38C64E;
        font-size: 12px;
        font-weight: 500;
        line-height: 20.4px;
        color: #FFFFFF;
        padding: 3px 24px 3px 24px;
        border: 0px;
        height: 28px;
        border-radius: 5px;
    }

    .form-select {
        font-size: 12px;
        font-weight: 400;
        line-height: 20.4px;
        letter-spacing: 0.25px;
        background: #F6F6F6;
        border: 1px solid #E3E3E3;
        color: #555555;
        width: 159px;
        border-radius: 4px;
        background-repeat: no-repeat;
        background-position: right .75rem center;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");

        &:focus {
            box-shadow: none;
        }
    }

    .manage-invertory-content {
        background: #FFFFFF;
        padding: 20px;
        margin-top: 20px;

        span {
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            color: #747474;
            margin-bottom: 0px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 16px;
            color: #000000;
            margin-bottom: 0px;
        }

        .Filters-content {
            margin-left: 50px;
        }

        .form-check {
            .form-check-input {
                border: 1px solid #747474
            }





            .form-check-label {
                color: #000000;
                font-size: 15px;
                font-weight: 400;
                line-height: 16px;
            }
        }

    }

    .Shipment-Summary {
        display: flex;
        align-items: center;
        margin-top: 20px;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 33px;
            color: #000000;
            display: flex;
            align-items: center;
            margin-bottom: 0px;
            padding-right: 10px;

            h5 {
                font-size: 20px;
                font-weight: 500;
                line-height: 36px;
                margin-bottom: 0px;
            }
        }

        span {
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            text-align: left;
            color: #747474;
        }

        .status-div {
            border-left: 1px solid #747474;
            border-right: 1px solid #747474;
            padding: 0 20px;
            display: flex;
            gap: 15px;
            align-items: center;

            .receiving-button {
                background: var(--Primary-Green, #38C64E);
                padding: 4px 24px 4px 24px;
                ;
                border-radius: 5px;
                border: 0px;
                color: #FFFFFF;
                font-size: 10px;
                font-weight: 500;
                line-height: 17px;
            }
        }

        .Last-updated {
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            color: #747474;
            padding: 0px 10px;
            border-right: 1px solid #747474;
        }


    }

    .Shipment-form {
        border: 1px solid #74747480;
        padding: 20px 10px;
        margin-top: 20px;
        display: flex;
        gap: 20px;

        .shipment-inner {
            padding: 10px 20px;
            border-right: 0.5px solid #747474;

            &:nth-child(5) {
                border-right: 0px;
            }

            h4 {
                font-size: 15px;
                font-weight: 500;
                line-height: 16px;
                color: #000000;
                margin-bottom: 20px;
            }

            ul {
                padding-left: 0px;
                list-style: none;

                li {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 16px;
                    color: #000000;
                    margin-top: 10px;

                    span {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;

                    }
                }
            }
        }
    }

    .card-header {
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        color: #000;
    }

    .box-card {
        box-shadow: 0px 4px 30px 0px #00000026;
        background: linear-gradient(270.59deg, #079759 0.48%, #35C350 99.47%);
        padding: 20px;
        border-radius: 4px;
        margin-top: 20px;

        &.payment-card {
            min-height: 119px;
            margin-top: 10px;

            h2 {
                font-size: 16px;
                font-weight: 700;
                line-height: 16px;
            }

            .withdrawn-button {
                border: 0px;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 500;
                line-height: 20.4px;
                text-align: left;
                background: #3C3C3C;
                padding: 8px 24px 8px 24px;
                color: #FFFFFF;
                margin-top: 50px;
            }
        }

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            color: #FFFFFF;
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 16px;
            color: #FFFFFF;
        }

        span {
            font-size: 10px;
            font-weight: 400;
            line-height: 16px;
            color: #FFFFFF;
        }
    }
}

.ShipmentPlan {
    margin-top: 30px;
    max-width: 650px;

    h1 {
        font-size: 15px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        color: #000000;
    }

    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #000000;
    }

    .question-content {
        background: #F1BB1133;
        padding: 30px 60px;
        margin: 20px 0;

        h1 {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: #000000;
            margin-bottom: 0px;
        }

        p {
            margin-bottom: 0px;

        }

        span {
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
            color: #000000;
        }




    }
}

.view-granted-claims {
    .view-granted-claims-card {
        border: 0.5px solid #747474;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;

        h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 16px;
            color: #000000;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: #000000;

            span {
                font-weight: 700;
            }
        }

        .footer-card {
            border-top: 0.5px solid #747474;
            padding: 15px 0;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            text-align: right;
            color: #029358;


            span {
                margin-bottom: 0px;
            }

        }
    }

}

.form-check-input:checked {
    border-color: #029358;
    background-color: transparent;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23029358' d='M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10s10-4.47 10-10S17.53 2 12 2'/%3E%3C/svg%3E");
}

.add-project-content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #74747480;

    &.add-project-content-class {
        border: 0px;

        .inner-content {
            display: grid;
            justify-content: center;
        }

        .add-project-inner-content {
            width: 100%;
        }
    }

    .add-project-inner-content {
        width: 525px;
        margin: auto;

        h6 {

            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: #000000;
        }

        h1 {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            color: #000000;
        }

        .form-check {
            margin-bottom: 20px;

            .form-check-label {
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: #000000;
            }

            .form-check-input {
                border: 1px solid #747474
            }


        }

        .description {
            padding: 0 10px;

            p {
                font-size: 12px;
                font-weight: 600;
                line-height: 20px;
                text-align: center;
                color: #747474;
                margin-bottom: 0px;
            }
        }
    }
}

.Existing-Product {
    h1 {
        font-size: 36px;
        font-weight: 500;
        line-height: 36px;
        text-align: left;
        color: #000000;
    }

    .Table-Dtail {
        background: #FFFFFF;
        padding: 20px;

        .inner-content {
            display: flex;
            margin-left: 100px;
            gap: 40px;

            p {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                color: #000000;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                color: #000000;
            }
        }

    }

    p {
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
        color: #000000;
    }

    .input-field-data {
        margin-top: 50px;
        background: #FFFFFF;
        padding: 40px 20px;

        .input-field {
            margin-left: 0px;

            .image-uploader {
                margin-left: 265px;
                width: 191.78px;
                height: 185.13px;
                margin-bottom: 20px;
                background: #F6F6F6;
                border: 1px solid #E3E3E3;
                position: relative;
                border-radius: 12px;

                img {
                    width: 100%;
                    height: 100%;
                }

                .image-content {
                    padding: 45px 70px 70px 70px;
                }

                button {
                    padding: 0px;
                    width: 100%;
                    background: #F6F6F6;
                    border: 1px solid #E3E3E3;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    border-radius: 12px;
                    padding: 10px;
                }

            }

            .label {
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                color: #000000;
                margin-right: 20px;
                width: 250px;
                text-align: end;
            }

            .input,
            .form-select {
                background: #F6F6F6;
                border: 1px solid #E3E3E3;
                padding: 8px 16px 8px 16px;
                border-radius: 12px;
                font-size: 14px;
                font-weight: 400;
                line-height: 23.8px;
                letter-spacing: 0.25px;
                color: #555555;
                min-width: 343px;

                &:focus {
                    outline: none;
                    border: 1px solid blue;
                }
            }

            .form-select {
                background-repeat: no-repeat;
                background-position: right .75rem center;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m7 10l5 5l5-5'/%3E%3C/svg%3E");
            }

            .radio-button {
                border: 1px solid #E3E3E3;
                background: #F6F6F6;
                border-radius: 12px;
                width: 614px;

                .form-check {
                    margin: 30px 20px;

                    .form-check-label {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        color: #000000;
                    }
                }
            }
        }

    }
}

.LineChart-component {
    border: 0.5px solid #B1B1B1;
    border-radius: 4px;
    margin-top: 20px;

    p {
        font-size: 10px;
        font-weight: 700;
        line-height: 12.1px;
        text-align: center;
        color: #000000;
    }
}

.table-class {
    margin-top: 20px;
    box-shadow: none;

    border: 1px solid #74747480;

    table {
        thead {
            tr {
                th {
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 16px;
                    color: #000000;
                    border-right: 1px solid #74747480;
                    background: #EFEFEF;
                }
            }
        }

        tbody {
            tr {
                th {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    color: #000000;
                    border-right: 1px solid #74747480 !important;
                }

                td {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    color: #000000;
                    border-right: 1px solid #74747480 !important;
                }
            }
        }
    }
}

.executor-component {
    box-shadow: 0px 3px 8.9px 4px #00000008;
    background: #FFFFFF;
    padding: 20px;

    .Project-notification {
        h2 {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #000000;
        }

        .notification-scroll {
            overflow-x: scroll;
            height: 200px;
        }

        .flex-shrink-0 {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &.to-do-text {
                background: #E46471;
            }

            &.Progress-text {
                background: #309398;
            }

            &.Completed-text {
                background: #6588E4;
            }
        }

        .flex-grow-1 {
            h2 {
                font-size: 14px;
                font-weight: 700;
                line-height: 21px;
                text-align: left;
                color: #000000;
                margin-bottom: 0px;
            }

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                color: #A0A0A0;
            }

            h3 {
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0.05em;
                color: #303030;
            }

            .notification-number {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background: #F24E1E;
                font-size: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                margin-left: auto;
            }

            p {
                font-size: 10px;
                font-weight: 300;
                line-height: 15px;
                color: #303030;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 120px;
            }
        }

    }

    .see-message-button {
        color: #029358;
        border: 0px;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0.05em;
        background-color: transparent;
        margin: auto;

    }
}

.order-summary {
    border: 1px solid #74747480;
    background: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
    height: 95%;


    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #000000;
        margin-bottom: 10px;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        margin-bottom: 0px;
        color: #747474;
    }

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: #747474;
    }
}

.contracts-details-component {
    .flex-shrink-0 {
        width: 60px;
        height: 60px;

        img {
            width: 100%;
            border-radius: 50%;
        }
    }

    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 16px;
        color: #747474;
        margin-top: 20px;
    }

    .button {
        background: #FACC15;
        color: #000000;
        border: 0px;
        padding: 5px 20px;
        font-size: 12px;
        font-weight: 500;
        line-height: 20.4px;
        border-radius: 5px;

        &.Declines {
            background: var(--Primary-Black, #3C3C3C);
            color: #fff;
        }

        &.Approved {
            background: var(--Primary-Green, #38C64E);
            color: #fff;
        }
    }
}

.Seles-Snapshot {
    border: 1px solid #74747480;
    margin-top: 20px;
    border-radius: 5px;

    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #000000;
        padding: 15px 20px;

        span {
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            color: #747474;
            margin-left: 10px;
        }
    }

    hr {
        margin-bottom: 0px;
    }

    .sale-snapshot-content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 15px 20px;
        background: #FFFFFF;

        p {
            font-size: 15px;
            font-weight: 500;
            line-height: 16px;
            color: #000000;
            margin-bottom: 5px;
            margin-top: 0px;
        }

        h6 {
            font-size: 20px;
            font-weight: 500;
            line-height: 16px;
            color: #747474;
        }
    }
}

.Attachements-content {
    border: 1px solid #74747433;
    padding: 20px;
    border-radius: 10px;
}

.chat-box {
    .header-message {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.05em;
        color: #303030;
    }

    .message-content {
        justify-content: end;
        text-align: end;
    }

    .recevied-message {
        background: #029358;
        color: #fff;
        display: inline-block;
        padding: 15px;
        border-radius: 25px;
        margin-right: auto;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0.05em;

    }

    .sent-message {
        background: #E7E7E7;
        color: #303030;
        font-size: 20px;
        font-weight: 400;
        line-height: 23.44px;
        text-align: left;
        display: inline-block;
        padding: 15px;
        border-radius: 25px;
    }



    .makeStyles-chatSection-27 {
        height: 85vh;
    }

    .makeStyles-messageArea-15 {
        height: 65vh;
    }


    .MuiInput-underline:before {
        border-bottom: 0px;
    }

    .input-field {
        .MuiInputBase-formControl {
            border: 0px;
            background: #EFF6FCDE;
            padding: 10px;
            border-radius: 50px;
        }

        input {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            text-align: left;
            color: #303030;
            border: 0px 10px;
            padding: 0;
        }
    }

    .MuiFab-primary {
        background: #029358;
        border-radius: 20px;
    }

    .MuiInputLabel-formControl {
        top: 4px;
        left: 21px;
    }

    .span {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #707070;
    }
}

.pie-chart {
    .MuiChartsLegend-mark {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    text {
        font-size: 12px !important;
        font-weight: 700 !important;
        line-height: 14.52px !important;
        text-align: left;
    }
}